body{
	width: 100%;
	margin: 0 auto;
	font-size: 100%;
}
/*.container{
	width: 80%;
	margin: 0 auto;
	background-color: #bbf2f3;
}*/
h2, a, p{
	font-family: 'Source Sans Pro', sans-serif;
}
.amazeLogo{
	max-width: 80%;
}
.featImage{
	width: 100%;
}
/*<----- Media Queries ----->*/

 /*Small Screens*/
@media only screen{
	/* Define mobile styles */
} 
@media only screen and (max-width: 40em){
	/* max-width 640px, mobile-only styles, use when QAing mobile issues */
	.container{
	width: 100%;
	}
	header{
		text-align: center;
	}
	.amazeLogo{
		padding-top: 20px;
	}
	.tagline{
		color: #f824ab;
		margin: 0;
		font-size: 40px;
	}
	nav ul{
		text-align: center;
		padding: 10px 0;
		background-color: #15aba1;
	}
	nav ul li{
		list-style: none;
		display: inline-block;
		font-size: 20px;
		margin: 0;
	}
	nav ul li a{
		text-decoration: none;
		color: #efefef;
		background-color: #fb92d5;
		padding: 10px;
	}
	.spotlight{
		background-color: #fff;
		padding: 10PX 0;
	}

} 

/* Medium Screens*/
@media only screen and (min-width: 40.063em){
	/* min-width 641px, medium screens */
	.container{
	width: 100%;
	}
	header{
		text-align: center;
	}
	.amazeLogo{
		padding-top: 20px;
	}
	.tagline{
		color: #f824ab;
		margin: 0;
	}
	nav ul{
		text-align: center;
		padding: 10px 0;
		background-color: #15aba1;
	}
	nav ul li{
		list-style: none;
		display: inline-block;
		/*width: 20%;*/
		margin: 0;
	}
	nav ul li a{
		text-decoration: none;
		color: #efefef;
		background-color: #fb92d5;
		padding: 10px;
	}
	.spotlight{
		background-color: #fff;
		padding: 10PX 0;
	}
 } 
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	/* min-width 641px and max-width 1024px, use when QAing tablet-only issues */
 } 

/* Large Screens*/
@media only screen and (min-width: 64.063em){
	/* min-width 1025px, large screens */
 } 
@media only screen and (min-width: 64.063em) and (max-width: 90em){
	/* min-width 1025px and max-width 1440px, use when QAing large screen-only issues */
 } 

 /*XLarge Screens*/
@media only screen and (min-width: 90.063em){
	/* min-width 1441px, xlarge screens */
 } 
@media only screen and (min-width: 90.063em) and (max-width: 120em){
	/* min-width 1441px and max-width 1920px, use when QAing xlarge screen-only issues */
 } 

 /*XXLarge Screens*/
@media only screen and (min-width: 120.063em){
	/* min-width 1921px, xxlarge screens */
 } 